::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #62cdeb;
    border-radius: 25px;
}

* {
    font-family: Microsoft JhengHei;
}

.col-2,
.col-3 {
    padding: 0;
}
.top-background{
    position: absolute;
    // z-index: 99;
    top: -640px;
    left: 0;
    width: 100%;
    height: 800px;
    background: #3a7fd5;
    background: linear-gradient(to right, #3a7fd5, #6ebce2);
    transform: skew(0, -1.5deg);
    transform-origin: bottom left;
    box-shadow: inset 0 -3px 10px rgba(0,0,0,0.1);
}

nav {
    
    width: 200px;
    // height: 100vh;
    position: fixed;
    
    transition: .5s;
    z-index: 100;

    .sidebar {
        position: relative;
        height: 100vh;

        .sidebar-list{
            height: 100%;
            overflow-y: auto;
            padding-bottom: 200px;
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #62cdeb3f;
                border-radius: 25px;
            }
        }

        .logo {
            width: 100%;
            height: 118px;
            background-image: url(../img/LOGO3.png);
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            margin: 25px 0;
            transition: .5s;
        }

        .nav-link {
            border-left: 5px #0000ff00 solid;
            border-bottom: 1px transparent solid;
            margin-left: 5px;
            color: #646464;
            font-weight: 500;
            transform: rotate(-3deg);
            &:hover {
                border-bottom: 1px transparent solid;
                background-clip: padding-box, border-box;
                background-origin: padding-box, border-box;
                background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(150deg, #079fc9, #814e3800);
                font-weight: bolder;
            }
        }

        .active {
            border-bottom: 1px transparent solid;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(150deg, #70C6FF, #814e3800);
            font-weight: bolder;
        }

        .tree-mode {
            padding-left: 15px;

            >* {
                padding-left: 15px;
            }
        }
    }

    .fa-angle-double-left {
        position: absolute;
        right: 2px;
        top: calc(100vh - 50%);
        color: #079fc9b4;
        transition: .8s;
        font-size: 30px;
        right: -10px;

        &:hover {
            cursor: pointer;
        }
    }

    .icon-rotate {
        transform: rotate3d(0, 1, 0, 180deg);
        font-size: 30px;
        right: -20px;
    }
}

.navmini {
    width: 20px;
    border-radius: 0 50px 50px 0;
}

.main-content {
    padding: 0 20px;
    padding-left: 220px;
    transition: .5s;

    .favorite-list{
        padding: 60px 20px;
        // overflow-x: auto;
        
        .col{
            text-align: center;
            margin: 0 10px;
            .btn{
                padding: 0;
            }
            .btn-drop{
                border: 2px #00183b98 solid;
                padding: 0 5px;
            }
            .dropdown-menu{
                min-width: 5rem;
            }
        }
        .favorite{
            border-bottom: #ffffff85 2px solid;
            font-weight: 900;
            color: #fff;
            border-radius: 0 0 10px 10px;
            transition: .1s;
            &:hover{
                transform: scale(1.1);
                border-bottom: #ffffff 3px solid;
                background: linear-gradient(-360deg, #ffffff1e, #6ebbe200, #6ebbe200);
                cursor: pointer;
            }
        }
    }

    .search-list {
        padding: 20px;
        border-bottom: 1px #00183b solid;
        display: flex;
        justify-content: space-between;

        .search-condition {
            // border: 1px black solid;
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            >* {
                margin: 10px 0;
                border-radius: 5px;
            }

            .money-list {
                margin: 9px 0;
                white-space: nowrap;

                .col-6 {
                    padding: 0;
                }

                .money-number {
                    color: red;
                }
            }

            input{
                width: 120px;
            }
            .btn-group {
                width: 120px;
                .btn-drop {
                    border: 2px solid #00183b71;
                    border-right: #0000ff00;
                    text-align: start;
                }

                .dropdown-toggle {
                    border: 2px solid #00183b71;
                    border-left: #0000ff00;
                }
            }

            .btn-brand-proxy {
                width: 120px;
                border: 2px solid #00183b71;
                text-align: start;
                transition: .2s;

                &:hover {
                    background: linear-gradient(-360deg, #3a80d52f, #6ebbe200, #6ebbe200);
                    box-shadow: #00183b 2px 2px 5px;
                    font-weight: bolder;
                    transform: scale(1.1);
                }
            }
        }

        .search-button {
            align-self: flex-end;
        }
    }

    .detailed-list {
        .demo {
            padding: 2em 0;

            .tab {
                .block{
                    font-size: 15px;
                    overflow: auto;
                    
                    .block-content{
                        width: 1850px;

                        .table td, .table th{
                            padding: 0.2rem;
                        }
                    }
                }

                .nav-tabs {
                    border: none;
                    border-bottom: 2px solid #079fc9;
                    margin: 0;
                    line-height: 2.5em;
                }

                .nav-tabs li a {
                    padding: 10px 20px;
                    margin: 0 10px -1px 0;
                    font-size: 17px;
                    font-weight: 600;
                    color: #293241;
                    text-transform: uppercase;
                    border: 2px solid #e6e5e1;
                    border-bottom: none;
                    border-radius: 5px 5px 0 0;
                    z-index: 1;
                    position: relative;
                    transition: all 0.3s ease 0s;
                }

                .nav-tabs li a:hover,
                .nav-tabs li.active a {
                    background: #fff;
                    color: #079fc9;
                    border: 2px solid #079fc9;
                    border-bottom-color: transparent;
                }

                .nav-tabs li a:before {
                    content: "";
                    display: block;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }

                .nav-tabs li.active a:before,
                .nav-tabs li a:hover:before {
                    transform: scaleX(1);
                }

                .tab-content {
                    padding: 10px;
                    font-size: 17px;
                    color: #6f6f6f;
                    line-height: 30px;
                    letter-spacing: 1px;
                    position: relative;
                }
            }
        }

        a:hover,
        a:focus {
            text-decoration: none;
            outline: none;
        }

        @media only screen and (max-width: 479px) {
            .tab .nav-tabs {
                border: none;
            }

            .tab .nav-tabs li {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }

            .tab .nav-tabs li a {
                margin: 0;
                border-bottom: 2px solid transparent;
            }

            .tab .nav-tabs li a:before {
                content: "";
                width: 100%;
                height: 2px;
                background: #079fc9;
                position: absolute;
                bottom: -2px;
                left: 0;
            }
        }
    }
}

.main-content-full{
    padding-left: 35px;
}


