::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #62cdeb;
  border-radius: 25px;
}

* {
  font-family: Microsoft JhengHei;
}

.col-2,
.col-3 {
  padding: 0;
}

.top-background {
  position: absolute;
  top: -640px;
  left: 0;
  width: 100%;
  height: 800px;
  background: #3a7fd5;
  background: -webkit-gradient(linear, left top, right top, from(#3a7fd5), to(#6ebce2));
  background: linear-gradient(to right, #3a7fd5, #6ebce2);
  -webkit-transform: skew(0, -1.5deg);
          transform: skew(0, -1.5deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.1);
}

nav {
  width: 200px;
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

nav .sidebar {
  position: relative;
  height: 100vh;
}

nav .sidebar .sidebar-list {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 200px;
}

nav .sidebar .sidebar-list::-webkit-scrollbar {
  width: 3px;
}

nav .sidebar .sidebar-list::-webkit-scrollbar-thumb {
  background-color: #62cdeb3f;
  border-radius: 25px;
}

nav .sidebar .logo {
  width: 100%;
  height: 118px;
  background-image: url(../img/LOGO3.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 25px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .sidebar .nav-link {
  border-left: 5px #0000ff00 solid;
  border-bottom: 1px transparent solid;
  margin-left: 5px;
  color: #646464;
  font-weight: 500;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

nav .sidebar .nav-link:hover {
  border-bottom: 1px transparent solid;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(150deg, #079fc9, #814e3800);
  font-weight: bolder;
}

nav .sidebar .active {
  border-bottom: 1px transparent solid;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(150deg, #70C6FF, #814e3800);
  font-weight: bolder;
}

nav .sidebar .tree-mode {
  padding-left: 15px;
}

nav .sidebar .tree-mode > * {
  padding-left: 15px;
}

nav .fa-angle-double-left {
  position: absolute;
  right: 2px;
  top: calc(100vh - 50%);
  color: #079fc9b4;
  -webkit-transition: .8s;
  transition: .8s;
  font-size: 30px;
  right: -10px;
}

nav .fa-angle-double-left:hover {
  cursor: pointer;
}

nav .icon-rotate {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
  font-size: 30px;
  right: -20px;
}

.navmini {
  width: 20px;
  border-radius: 0 50px 50px 0;
}

.main-content {
  padding: 0 20px;
  padding-left: 220px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-content .favorite-list {
  padding: 60px 20px;
}

.main-content .favorite-list .col {
  text-align: center;
  margin: 0 10px;
}

.main-content .favorite-list .col .btn {
  padding: 0;
}

.main-content .favorite-list .col .btn-drop {
  border: 2px #00183b98 solid;
  padding: 0 5px;
}

.main-content .favorite-list .col .dropdown-menu {
  min-width: 5rem;
}

.main-content .favorite-list .favorite {
  border-bottom: #ffffff85 2px solid;
  font-weight: 900;
  color: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-transition: .1s;
  transition: .1s;
}

.main-content .favorite-list .favorite:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: #ffffff 3px solid;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff1e), color-stop(#6ebbe200), to(#6ebbe200));
  background: linear-gradient(-360deg, #ffffff1e, #6ebbe200, #6ebbe200);
  cursor: pointer;
}

.main-content .search-list {
  padding: 20px;
  border-bottom: 1px #00183b solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .search-list .search-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.main-content .search-list .search-condition > * {
  margin: 10px 0;
  border-radius: 5px;
}

.main-content .search-list .search-condition .money-list {
  margin: 9px 0;
  white-space: nowrap;
}

.main-content .search-list .search-condition .money-list .col-6 {
  padding: 0;
}

.main-content .search-list .search-condition .money-list .money-number {
  color: red;
}

.main-content .search-list .search-condition input {
  width: 120px;
}

.main-content .search-list .search-condition .btn-group {
  width: 120px;
}

.main-content .search-list .search-condition .btn-group .btn-drop {
  border: 2px solid #00183b71;
  border-right: #0000ff00;
  text-align: start;
}

.main-content .search-list .search-condition .btn-group .dropdown-toggle {
  border: 2px solid #00183b71;
  border-left: #0000ff00;
}

.main-content .search-list .search-condition .btn-brand-proxy {
  width: 120px;
  border: 2px solid #00183b71;
  text-align: start;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-content .search-list .search-condition .btn-brand-proxy:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#3a80d52f), color-stop(#6ebbe200), to(#6ebbe200));
  background: linear-gradient(-360deg, #3a80d52f, #6ebbe200, #6ebbe200);
  -webkit-box-shadow: #00183b 2px 2px 5px;
          box-shadow: #00183b 2px 2px 5px;
  font-weight: bolder;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-content .search-list .search-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-content .detailed-list .demo {
  padding: 2em 0;
}

.main-content .detailed-list .demo .tab .block {
  font-size: 15px;
  overflow: auto;
}

.main-content .detailed-list .demo .tab .block .block-content {
  width: 1850px;
}

.main-content .detailed-list .demo .tab .block .block-content .table td, .main-content .detailed-list .demo .tab .block .block-content .table th {
  padding: 0.2rem;
}

.main-content .detailed-list .demo .tab .nav-tabs {
  border: none;
  border-bottom: 2px solid #079fc9;
  margin: 0;
  line-height: 2.5em;
}

.main-content .detailed-list .demo .tab .nav-tabs li a {
  padding: 10px 20px;
  margin: 0 10px -1px 0;
  font-size: 17px;
  font-weight: 600;
  color: #293241;
  text-transform: uppercase;
  border: 2px solid #e6e5e1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-content .detailed-list .demo .tab .nav-tabs li a:hover,
.main-content .detailed-list .demo .tab .nav-tabs li.active a {
  background: #fff;
  color: #079fc9;
  border: 2px solid #079fc9;
  border-bottom-color: transparent;
}

.main-content .detailed-list .demo .tab .nav-tabs li a:before {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.main-content .detailed-list .demo .tab .nav-tabs li.active a:before,
.main-content .detailed-list .demo .tab .nav-tabs li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-content .detailed-list .demo .tab .tab-content {
  padding: 10px;
  font-size: 17px;
  color: #6f6f6f;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
}

.main-content .detailed-list a:hover,
.main-content .detailed-list a:focus {
  text-decoration: none;
  outline: none;
}

@media only screen and (max-width: 479px) {
  .main-content .detailed-list .tab .nav-tabs {
    border: none;
  }
  .main-content .detailed-list .tab .nav-tabs li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .main-content .detailed-list .tab .nav-tabs li a {
    margin: 0;
    border-bottom: 2px solid transparent;
  }
  .main-content .detailed-list .tab .nav-tabs li a:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #079fc9;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.main-content-full {
  padding-left: 35px;
}
/*# sourceMappingURL=main.css.map */