::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #a9ccff;
  border-radius: 25px;
}

* {
  font-family: Microsoft JhengHei;
}

.col-2,
.col-3 {
  padding: 0;
}

nav {
  background-color: #00183b;
  width: 200px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

nav .sidebar {
  position: relative;
  height: 100%;
}

nav .sidebar .logo {
  width: 100%;
  height: 150px;
  background-image: url(../img/LOGO3.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 0;
}

nav .sidebar .nav-link {
  border-left: 5px #0000ff00 solid;
  border-bottom: 1px transparent solid;
  margin-left: 5px;
  color: #a9ccff;
}

nav .sidebar .nav-link:hover {
  border-bottom: 1px transparent solid;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(135deg, #00183b, #00183b), linear-gradient(150deg, #5f9fff, #814e3800);
}

nav .sidebar .active {
  border-bottom: 1px transparent solid;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(135deg, #00183b, #00183b), linear-gradient(150deg, #5f9fff, #814e3800);
}

nav .sidebar .tree-mode {
  padding-left: 15px;
}

nav .sidebar .tree-mode > * {
  padding-left: 15px;
}

nav .fa-angle-double-left {
  position: absolute;
  right: 2px;
  top: calc(100vh - 50%);
  color: white;
  -webkit-transition: .8s;
  transition: .8s;
}

nav .fa-angle-double-left:hover {
  cursor: pointer;
}

nav .icon-rotate {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
}

.navmini {
  width: 15px;
  border-radius: 0 50px 50px 0;
}

.main-content {
  padding: 50px 20px;
  padding-left: 220px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-content .search-list {
  padding: 20px 0;
  border-top: 2px #00183b solid;
  border-bottom: 1px #00183b solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content .search-list .search-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .search-list .search-condition > * {
  margin: 10px 0;
  border-radius: 5px;
}

.main-content .search-list .search-condition .money-list {
  margin: 9px 0;
  white-space: nowrap;
}

.main-content .search-list .search-condition .money-list .col-6 {
  padding: 0;
}

.main-content .search-list .search-condition .money-list .money-number {
  color: red;
}

.main-content .search-list .search-condition .btn-group .btn-drop {
  border: 2px solid #00183b71;
  border-right: #0000ff00;
  text-align: start;
}

.main-content .search-list .search-condition .btn-group .dropdown-toggle {
  border: 2px solid #00183b71;
  border-left: #0000ff00;
}

.main-content .search-list .search-condition .btn-brand-proxy {
  border: 2px solid #00183b71;
  text-align: start;
}

.main-content .search-list .search-condition .btn-brand-proxy:hover {
  background-color: #00183b;
  color: #a9ccff;
}

.main-content .search-list .search-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-content .detailed-list .demo {
  padding: 2em 0;
}

.main-content .detailed-list .demo .tab .nav-tabs {
  border: none;
  border-bottom: 2px solid #079fc9;
  margin: 0;
  line-height: 2.5em;
}

.main-content .detailed-list .demo .tab .nav-tabs li a {
  padding: 10px 20px;
  margin: 0 10px -1px 0;
  font-size: 17px;
  font-weight: 600;
  color: #293241;
  text-transform: uppercase;
  border: 2px solid #e6e5e1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-content .detailed-list .demo .tab .nav-tabs li a:hover,
.main-content .detailed-list .demo .tab .nav-tabs li.active a {
  background: #fff;
  color: #079fc9;
  border: 2px solid #079fc9;
  border-bottom-color: transparent;
}

.main-content .detailed-list .demo .tab .nav-tabs li a:before {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.main-content .detailed-list .demo .tab .nav-tabs li.active a:before,
.main-content .detailed-list .demo .tab .nav-tabs li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-content .detailed-list .demo .tab .tab-content {
  padding: 10px;
  font-size: 17px;
  color: #6f6f6f;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
}

.main-content .detailed-list a:hover,
.main-content .detailed-list a:focus {
  text-decoration: none;
  outline: none;
}

@media only screen and (max-width: 479px) {
  .main-content .detailed-list .tab .nav-tabs {
    border: none;
  }
  .main-content .detailed-list .tab .nav-tabs li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .main-content .detailed-list .tab .nav-tabs li a {
    margin: 0;
    border-bottom: 2px solid transparent;
  }
  .main-content .detailed-list .tab .nav-tabs li a:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #079fc9;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.main-content-full {
  padding-left: 35px;
}
/*# sourceMappingURL=main.css.map */